@model SchedulerApp.Client.ViewModels.CoursesVM
<p>
   
</p>
<table class="table">
    
    <tr>
      
        <th>
            Course Name
        </th>
        <th>
            Instructor
        </th>
        <th>
            Capacity
        </th>
        <th>
            Course Hour
        </th>
        <th></th>
    </tr>
        
@foreach (var item in Model.PendingCourses) {
    <tr>
     
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instructor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseHour)
        </td>
      
        <td>
            @Html.ActionLink("Register", "RegisterCourse", new { id = ViewBag.ID , courseid = item.CourseID})
        </td>
        <td>
            @Html.ActionLink("Remove", "RemovePendingCourse", new { id = ViewBag.ID, courseid = item.CourseID })
        </td>

    </tr>
}

    @Html.ActionLink("Browse Courses", "Index", new {  ViewBag.ID })
    @Html.ActionLink("Submitted Courses", "RegisteredCourses", new { userid = ViewBag.ID })

</table>
