@model SchedulerApp.Client.ViewModels.PersonVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>

@{ 

    <ul>
        Instructors
        @foreach (var item in Model.Instructors)
        {
            <li>@item.FirstName @item.LastName <input type="button" value ="Login" onclick="location.href='@Url.Action("Index", "Instructor", new { id = item.PersonID })'" /></li>
        }
    </ul>
    
   
    <ul>
        Students
        @foreach (var item in Model.Students)
        {
            
            
               
            <li>@item.FirstName @item.LastName <input type="button" value="Login" onclick="location.href='@Url.Action("Index","Student", new { id = item.PersonID})'"/></li>
            
       }
    </ul>
    
    <ul>
        Registers
        @foreach (var item in Model.Registers)
        {
            <li>@item.FirstName @item.LastName <input type="button" value="Login"  /></li>
        }
    </ul>
 }
